###############################################
# NordCore Auth Server configuration file #
###############################################
[authserver]

###################################################################################################
# SECTION INDEX
#
#    AUTH SERVER SETTINGS
#    DATABASE SETTINGS
#    LOGGING SYSTEM SETTINGS
#
###################################################################################################

###################################################################################################
# AUTH SERVER SETTINGS
#
#
#    MaxPingTime
#        Description: Time (in minutes) between database pings.
#        Default:     30

MaxPingTime = 30

#
#    RealmServerPort
#        Description: TCP port to reach the auth server.
#        Default:     3724

RealmServerPort = 3724

#
#
#    BindIP
#        Description: Bind auth server to IP/hostname
#        Default:     "0.0.0.0" - (Bind to all IPs on the system)

BindIP = "0.0.0.0"

#
#    ProcessPriority
#        Description: Process priority setting.
#        Details:     On Linux, a nice value of -15 is used. (requires superuser).
#        Default:     0 - (Normal)
#                     1 - (High)

ProcessPriority = 0

#
#    RealmsStateUpdateDelay
#        Description: Time (in seconds) between realm list updates.
#        Default:     20 - (Enabled)
#                     0  - (Disabled)

RealmsStateUpdateDelay = 20

#
###################################################################################################

###################################################################################################
# DATABASE SETTINGS
#
#    DatabaseInfo
#        Description: Database connection settings.
#        Example:     "postgresql://username:password@hostname:port/database"
#        Default:     "postgresql://nordcore:nordcore@127.0.0.1:5432/postgres"

DatabaseInfo = "postgresql://nordcore:nordcore@127.0.0.1:5432/postgres"

#
#    Database.Reconnect.Seconds
#    Database.Reconnect.Attempts
#
#        Description: How many seconds between every reconnection attempt
#                     and how many attempts will be performed in total
#        Default:     20 attempts every 15 seconds
#

Database.Reconnect.Seconds = 15
Database.Reconnect.Attempts = 20

#
###################################################################################################

###################################################################################################
#
#  LOGGING SYSTEM SETTINGS
#
#  Appender config values: Given an appender "name"
#    Appender.name
#        Description: Defines 'where to log'
#        Format:      Type,LogLevel,Flags,optional1,optional2,optional3
#
#                     Type
#                         0 - (None)
#                         1 - (Console)
#                         2 - (File)
#                         3 - (DB)
#
#                     LogLevel
#                         0 - (Disabled)
#                         1 - (Fatal)
#                         2 - (Error)
#                         3 - (Warning)
#                         4 - (Info)
#                         5 - (Debug)
#                         6 - (Trace)
#
#                     Flags:
#                         0 - None
#                         1 - Prefix Timestamp to the text
#                         2 - Prefix Log Level to the text
#                         4 - Prefix Log Filter type to the text
#                         8 - Append timestamp to the log file name. Format: YYYY-MM-DD_HH-MM-SS (Only used with Type = 2)
#                        16 - Make a backup of existing file before overwrite (Only used with Mode = w)
#
#                     Colors (read as optional1 if Type = Console)
#                         Format: "fatal error warn info debug trace"
#                         0 - RED
#                         1 - GREEN
#                         2 - BROWN
#                         3 - BLUE
#                         4 - MAGENTA
#                         5 - CYAN
#                         6 - GREY
#                         7 - YELLOW
#                         Example: "0 0 2 5 4 7"
#
#                     File: Name of the file (read as optional1 if Type = File)
#                         Allows to use one "%s" to create dynamic files
#
#                     Mode: Mode to open the file (read as optional2 if Type = File)
#                          a - (Append)
#                          w - (Overwrite)
#
#                     MaxFileSize: Maximum file size of the log file before creating a new log file
#                     (read as optional3 if Type = File)
#                         Size is measured in bytes expressed in a 64-bit unsigned integer.
#                         Maximum value is 4294967295 (4 GB). Leave blank for no limit.
#                         NOTE: Does not work with dynamic filenames.
#                         Example:  536870912 (512 MB)
#

Appender.Console=5,0

#  Logger config values: Given a logger "name"
#    Logger.name
#        Description: Defines 'What to log'
#        Format:      LogLevel
#
#                     LogLevel
#                         0 - (Disabled)
#                         1 - (Fatal)
#                         2 - (Error)
#                         3 - (Warning)
#                         4 - (Info)
#                         5 - (Debug)
#                         6 - (Trace)
#

Logger.root=4

#
###################################################################################################
